---
import Testimonials0 from "../components/Testimonials0.astro";

import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import News from "../components/News.astro";
import OpeningHours from "../components/OpeningHours.astro";
import Home from "../components/Home.astro";
import Card from "./blog/Card.astro";
import FoodMenu from "../components/FoodMenu.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Home">
	<main class="h-full">
		<Home />
		<OpeningHours />
		<!-- <FoodMenu /> -->
		<Contact />
		<Footer />
		<!-- <News /> -->
		<!-- <About /> -->
		<!-- <Card /> -->
		<!-- <Testimonials0 /> -->
	</main>
</Layout>
