---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import soppa1 from "../../assets/img/mat/soppa1.jpg";
import soppa2 from "../../assets/img/mat/soppa2.jpg";
---

<Layout title={"Smörgåsar och bakverk"}>
    <div
        class="max-w-4xl mx-auto p-7 my-10 bg-gradient-to-b from-red-50 to-red-100 shadow-2xl rounded-2xl"
    >
        <div class="pt-4 xl:pl-10 mx-3">
            <a
                href="/#bakverk"
                class="text-white bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded inline-flex items-center transition duration-200 ease-in-out focus:outline-none"
            >
                <Icon name="Back" class="w-4 h-4 mr-2" />

                Tillbaka
            </a>
        </div>
        <div class="container mx-auto px-4 py-8 text-xl">
            <div class="max-w-3xl mx-auto">
                <h1 class="md:text-4xl text-2xl font-bold mb-4 text-gray-800">
                    Smörgåsar och bakverk
                </h1>

                <div class="mb-2">
                    Hos oss hittar du allt från fräscha och lätta alternativ till rika och tröstande godsaker.
                </div>

                <div class="mb-2">
                    Vi har smörgåsar för alla smaker samt ett läckert urval av utsökta bakverk.
                </div>

                <!-- card1 -->
                <div
                    class="mt-8 mx-auto max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <Image src={soppa1} alt="smorrebrod1" class="h-full" />

                    <div class="p-5">
                        <a href="#">
                            <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Matrosens gulasch
                            </h5>
                        </a>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                        Nötkött - potatis - paprika - lök - vitlök - tomater - tomatpuré - köttbuljong - kummin -  salt - peppar - olivolja.
                        </p>
                    </div>
                </div>

                <!-- card2 -->
                <div
                    class="mt-8 mx-auto max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <Image src={soppa2} alt="smorrebrod1" class="h-full" />

                    <div class="p-5">
                        <a href="#">
                            <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Västindisk löksoppa
                            </h5>
                        </a>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                        Nötkött - potatis - paprika - lök - vitlök - tomater - tomatpuré - köttbuljong - kummin -  salt - peppar - olivolja.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</Layout>
