---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import smorrebrod1 from "../../assets/img/mat/smorrebrod1.jpg";
import smorrebrod2 from "../../assets/img/mat/smorrebrod2.jpg";
import smorrebrod3 from "../../assets/img/mat/smorrebrod3.jpg";
---

<Layout title={"Smörrebröd"}>
    <div
        class="max-w-4xl mx-auto p-7 my-10 bg-gradient-to-b from-red-50 to-red-100 shadow-2xl rounded-2xl"
    >
        <div class="pt-4 xl:pl-10 mx-3">
            <a
                href="/#menu"
                class="text-white bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded inline-flex items-center transition duration-200 ease-in-out focus:outline-none"
            >
                <Icon name="Back" class="w-4 h-4 mr-2" />

                Tillbaka
            </a>
        </div>
        <div class="container mx-auto px-4 py-8 text-xl">
            <div class="max-w-3xl mx-auto">
                <h1 class="md:text-4xl text-2xl font-bold mb-4 text-gray-800">
                    Smörrebröd
                </h1>

                <div class="mb-8">
                    Våra smörrebröd har en
                    kreativ twist som gör varje tugga till en fröjd. Varje
                    smörrebröd är omsorgsfullt tillagat med de finaste
                    ingredienserna och en kärlek för traditionella och moderna
                    smaker.
                </div>

                <!-- card1 -->
                <div
                    class="mx-auto max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <Image src={smorrebrod1} alt="smorrebrod1" class="h-full" />

                    <div class="p-5">
                        <a href="#">
                            <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Avokado a'la tortuga
                            </h5>
                        </a>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Färskt rågbröd - krämig mogen avokado - en skvätt
                            frisk citron - ett stänk salt och svartpeppar - tunt
                            skivad röd lök - färska dillkvistar - finhackad
                            gräslök - smulad fetaost - saftiga halverade
                            körsbärstomater - ett perfekt kokt ägg
                        </p>
                    </div>
                </div>

                <!-- card1 -->
                <div
                    class="mt-8 mx-auto max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <Image src={smorrebrod2} alt="smorrebrod2" class="h-full" />

                    <div class="p-5">
                        <a href="#">
                            <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Avokado a'la tortuga
                            </h5>
                        </a>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Färskt rågbröd - krämig mogen avokado - en skvätt
                            frisk citron - ett stänk salt och svartpeppar - tunt
                            skivad röd lök - färska dillkvistar - finhackad
                            gräslök - smulad fetaost - saftiga halverade
                            körsbärstomater - ett perfekt kokt ägg
                        </p>
                    </div>
                </div>

                <!-- card3 -->
                <div
                    class="mt-8 mx-auto max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                >
                    <Image src={smorrebrod3} alt="smorrebrod3" class="h-full" />

                    <div class="p-5">
                        <a href="#">
                            <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Avokado a'la tortuga
                            </h5>
                        </a>
                        <p
                            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                        >
                            Färskt rågbröd - krämig mogen avokado - en skvätt
                            frisk citron - ett stänk salt och svartpeppar - tunt
                            skivad röd lök - färska dillkvistar - finhackad
                            gräslök - smulad fetaost - saftiga halverade
                            körsbärstomater - ett perfekt kokt ägg
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
