---
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sköldpaddsön café och bistro" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet"  href="./styles/global.css">
		<script defer src="./scripts/alpine-min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black h-full">
		<Nav />
		<slot />
	</body>
</html>
<style type="text/css">
	html {
		scroll-behavior: smooth;
	}
	
	body {
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
</style>
