---
import { Icon } from "astro-icon";
import OnormalUtanRiktning from "../assets/img/OnormalUtanRiktning-top4.jpg";
import matros from "../assets/img/matros.jpg";
import newsImg1 from "../assets/img/grand-opening3.jpg";
import newsImg2 from "../assets/img/sagostund-dallee.jpg";
import { Image } from "@astrojs/image/components";
---

<div class="flex justify-center mx-auto">
    <div class="w-full mx-auto max-w-screen-md">
        <div>
            <div class="">
                <div class="relative h-auto">
                    <!-- <div class="absolute top-0 left-0 h-1/2 w-1/3 bg-gray-900 p-2 bg-opacity-80  hover:scale-105">
                        <h2 class="text-yellow-600">Öppettider:</h2>
                    </div> -->
                    <Image
                    src={OnormalUtanRiktning}
                    alt="bakgrundsbild"
                    class="w-auto"/>
                    
                </div>
            </div>
            <div>
                <div
                    class="h-auto mx-auto py-4 max-w-screen-md bg-gradient-to-b from-green-950 to-green-800"
                >
                    <div
                        class="bg-stone-500 w-11/12 mx-auto hover:scale-105 rounded-2xl shadow-md"
                    >
                        <div
                            class="relative overflow-hidden bg-cover bg-no-repeat"
                        >
                            <Image
                                src={matros}
                                alt="bakgrundsbild"
                                class="w-auto"
                            />
                        </div>
                        <div class="p-6">
                            <h5 class="mb-2 text-xl font-medium leading-tight">
                                Card title
                            </h5>
                            <p class="text-base">
                                Some quick example text to build on the card
                                title and make up the bulk of the card's
                                content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
