---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import logoImg from "../assets/img/LogoSkoldpaddson500-X3.png";
---

<footer
  class="bg-gradient-to-b from-black to-green-900 rounded-lg shadow-lg p-8 relative mt-24"
>
  <Icon name="Mave" class="absolute bottom-0 left-0 right-0" />
  <div class="max-w-screen-md mx-auto relative z-10">
    <div class="flex justify-between mb-8 md:flex-row flex-col items-center">
      <div>
        <a href="/" class="flex items-center mb-2">
          <Image src={logoImg} alt="logo" class="h-full" />
        </a>
      </div>

      <!-- <ul class="flex flex-wrap space-x-4 text-sm font-medium items-center">
        <li class="text-white mb-4">
          <a href="/blog/Card" class="mr-5 hover:text-red-500">Recipes</a>
          <a href="/about" class="mr-5 hover:text-red-500">About</a>
          <a href="/contact" class="mr-5 hover:text-red-500">Contact</a>
        </li>
      </ul> -->
    </div>
    <hr class="border-green-300 mb-8 hidden sm:block" />

    <div
      class="items-center text-base text-center text-white sm:text-current mb-12 sm:my-0"
    >
      <h1 class="">
        © 2024{" "}
        <a href="/" class="hover:underline xl:text-red-500 underline-offset-1">
          Sköldpaddsön
        </a>
      </h1>
    </div>
  </div>
</footer>
