---
import { Icon } from "astro-icon";
---

<div class="bg-black text-white">
  <header id="header" class="" x-data="{ atTop: true, open: false }">
    <nav
      class="w-full fixed top-0 bg-[#355b45] z-50 p-4 transition duration-1000 ease-in-out"
      :class="{ 'opacity-0': atTop, 'bg-opacity-60': !atTop }"
      @scroll.window="atTop = (window.pageYOffset > 500) ? false: true; open = false"
    >
      <div class="flex max-w-screen-md mx-auto">
        <div
          class="mr-auto px-4 mb-2 max-w-screen-md flex transition duration-1000 ease-in-out"
        >
          <a href="#" class="text-2xl items-left text-[#f19301]">Sköldpaddsön</a
          >
        </div>
        <div class="flex ml-auto pr-4 relative">
          <!-- <div x-show="open" class="mr-4 h-40 bg-slate-100" >Dropdown Contents...</div> -->
          <button
            x-on:click="open = ! open"
            class="text-white focus:outline-none transition duration-1000 ease-in-out"
          >
            <svg
              x-show="!open"
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            <svg x-show="open" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 50 50" width="20px" height="20px"><path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/></svg>
          </button>
          <div
            x-show="open"
            class="absolute bg-[#355b45] text-white w-56 right-10 top-2 rounded-lg"
          >
            <a href="#openinghours"
              ><div
                class="bg-red-100 p-4 bg-opacity-20  hover:scale-105"
              >
                Öppettider
              </div></a
            >
            <a href="#menu"
              ><div
                class="mt-2 bg-red-100 p-4 bg-opacity-20 hover:scale-105"
              >
                Meny
              </div></a
            >
            <a href="#contact"
              ><div
                class="mt-2 bg-red-100 p-4 bg-opacity-20  hover:scale-105"
              >
                Hitta hit
              </div></a
            >
            <a href="#contact"
              ><div
                class="mt-2 bg-red-100 p-4 bg-opacity-20  hover:scale-105"
              >
                Kontakt
              </div></a
            >
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
