---
import catAngelImg from "../assets/img/CattAngelBlueCopy-2037x1512.jpg";
import { Image } from "astro:assets";
---

<div id="openinghours" class="flex justify-center mx-auto h-full">
    <div class="w-full  mx-auto max-w-screen-md my-auto">
        <div class="relative h-full  text-white">
            <Image src={catAngelImg} alt="bakgrundsbild" class="h-full" />
            <div class="absolute bottom-12 sm:bottom-28 left-0 right-0  w-2/3 sm:w-1/2 mx-auto ">
                <div class="p-2 text-xl sm:text-3xl"><h1>Öppettider</h1></div>
                <div class="bg-[#333030b5] p-4 bg-opacity-60 rounded-lg" >
                    <div class=" p-2 text-base sm:text-2xl"><h1>Måndag: stängt</h1></div>
                    <div class=" p-2 text-base sm:text-2xl"><h1>Tis-Tor: 11:00 - 20:00</h1></div>
                    <div class=" p-2 text-base sm:text-2xl"><h1>Fre-Lör: 11:00 - 22:00</h1></div>
                    <div class=" p-2 text-base sm:text-2xl"><h1>Söndag: 10:00 - 18:00</h1></div>
                </div>
            </div> 
        </div>
    </div>
</div>
